/* START DU HEADER */
header {
    background-color: #00070f;
    height: 50px;
}

.navbar * {
    color: white !important;
    font-size: 0.9rem;
    /* taille plus petite */
}

.nav .nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.navbar {
    background-color: #00070f;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    /* poids par défaut */
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
    /* titres et balises <strong> */
}

/* FIN DU HEADER */

/* START DU FOOTER */


footer {
    display: flex;
    justify-content: center;
    /* centre verticalement */
    align-items: center;
    /* centre horizontalement */
    background-color: #00070f;
    color: white;
}

.foot2 {
    padding-left: 300px;
    padding-right: 300px;
    line-height: 7px;
}

.foot3 {
    line-height: 7px;
    margin-top: 15px;
}

.h_footer {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    /* enlève le soulignement */
}

.social-icon {
    color: rgba(50, 50, 50, 0.6);
    /* gris foncé un peu transparent */
    margin-right: 10px;
    transition: color 0.3s;
    display: inline-block;
}

.social-icon:hover {
    color: rgba(50, 50, 50, 1);
    /* couleur pleine au survol */
}

/* FIN DU FOOTER */

.bar {
    width: 40%;
    height: 4px;
    background-color: #2f83e4;
    margin: 1rem auto;
    margin-bottom: 50px;
}
.offre1 {
    /* Titre mon offre de service*/
    text-align: center;
    margin-top: 40px;
}

.img_home {
    width: 100%;
    height: auto;
    /* garde les proportions */
}
.box1, .box2{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
     justify-content: center;
    /* centre verticalement */
    align-items: center;
    /* centre horizontalement */
}
.sec{
    margin-bottom: 100px;
    text-align: center;
    }
.sic{
    text-align: center;
}
.card {
    transition: all 0.3s ease; /* Animation fluide */
}

.card:hover {
    background-color: #efefef; /* Fond gris clair */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Ombre légère */
    transform: translateY(-3px); /* Petit effet de décalage */
}
.container .card .btn {
    transition: background-color 0.3s ease;
}

.container .card .btn:hover {
    background-color: #4da3ff; /* bleu plus clair */
}
